
                  <!--******************* EDIT TYPE START *********************-->
                  <div class="modal" id="typeEditModal">
                    <div class="modal-dialog-custom">
                      <div class="modal-content-custom">



                      </div>
                    </div>
                  </div>
                  <!--******************* EDIT TYPE END *********************-->

                  <!--******************* NEW TYPE START *********************-->
                  <div class="modal" id="typeNewModal" tabindex="-1" role="dialog" aria-labelledby="TypeNew">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        Loading...
                      </div>
                    </div>
                  </div>
                  <!--******************* NEW TYPE END *********************-->

                  <!--******************* EDIT PRODUCT START *********************-->
                  <div class="modal" id="productEditModal" tabindex="-1" role="dialog" aria-labelledby="ProductEdit">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        Loading...
                      </div>
                    </div>
                  </div>
                  <!--******************* EDIT PRODUCT END *********************-->

                  <!--******************* NEW PRODUCT START *********************-->
                  <div class="modal" id="productNewModal" tabindex="-1" role="dialog" aria-labelledby="ProductNew">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        Loading...
                      </div>
                    </div>
                  </div>
                  <!--******************* NEW PRODUCT END *********************-->

                  <!--******************* EDIT PROMO START *********************-->
                  <div class="modal" id="promoEditModal" tabindex="-1" role="dialog" aria-labelledby="PromoEdit">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        Loading...
                      </div>
                    </div>
                  </div>
                  <!--******************* EDIT PROMO END *********************-->

                  <!--******************* NEW PROMO START *********************-->
                  <div class="modal" id="promoNewModal" tabindex="-1" role="dialog" aria-labelledby="PromoEdit">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        Loading...
                      </div>
                    </div>
                  </div>
                  <!--******************* NEW PROMO END *********************-->

                  <!--******************* EDIT INFO START *********************-->
                  <div class="modal" id="infoEditModal" tabindex="-1" role="dialog" aria-labelledby="InfoEdit">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        Loading...
                      </div>
                    </div>
                  </div>
                  <!--******************* EDIT INFO END *********************-->

                  <!--******************* NEW INFO START *********************-->
                  <div class="modal" id="infoNewModal" tabindex="-1" role="dialog" aria-labelledby="InfoNew">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        Loading...
                      </div>
                    </div>
                  </div>
                  <!--******************* NEW INFO END *********************-->

                  <!--******************* EDIT POWER START *********************-->
                  <div class="modal" id="powerEditModal" tabindex="-1" role="dialog" aria-labelledby="PowerEdit">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        Loading...
                      </div>
                    </div>
                  </div>
                  <!--******************* EDIT POWER END *********************-->

                  <!--******************* NEW POWER START *********************-->
                  <div class="modal" id="powerNewModal" tabindex="-1" role="dialog" aria-labelledby="PowerNew">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        Loading...
                      </div>
                    </div>
                  </div>
                  <!--******************* NEW POWER END *********************-->

                   <!--******************* EDIT ALBUM START *********************-->
                  <div class="modal" id="albumEditModal" tabindex="-1" role="dialog" aria-labelledby="AlbumEdit">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        Loading...
                      </div>
                    </div>
                  </div>
                  <!--******************* EDIT ALBUM END *********************-->

                  <!--******************* NEW ALBUM START *********************-->
                  <div class="modal" id="albumNewModal" tabindex="-1" role="dialog" aria-labelledby="AlbumNew">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        Loading...
                      </div>
                    </div>
                  </div>
                  <!--******************* NEW ALBUM END *********************-->


                   <!--******************* EDIT BRAND START *********************-->
                  <div class="modal" id="brandEditModal" tabindex="-1" role="dialog" aria-labelledby="BrandEdit">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        Loading...
                      </div>
                    </div>
                  </div>
                  <!--******************* EDIT BRAND END *********************-->

                  <!--******************* NEW BRAND START *********************-->
                  <div class="modal" id="brandNewModal" tabindex="-1" role="dialog" aria-labelledby="BrandNew">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        Loading...
                      </div>
                    </div>
                  </div>
                  <!--******************* NEW BRAND END *********************-->





                   <!--******************* SHOW PRODUCT START *********************-->
                  <div class="modal" id="productShowModal" tabindex="-1" role="dialog" aria-labelledby="ProductShow">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        Loading...
                      </div>
                    </div>
                  </div>
                  <!--******************* SHOW PRODUCT END *********************-->
