<% if notice %>
  <div class="alert alert-info alert-dismissible animate bounceIn" role="alert">
    <div><%= notice %></div>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <div class="alert-locked"><%= image_tag "locked.svg", width: "16px" %></div>
    <div class="alert-title-warning">Attention </div>
    <div class="alert-title">espace sécurisé </div>
    <div class="alert-text"><%= alert %></div>
    <div><%= image_tag "warning.svg", width: "20px" %></div>
  </div>
<% end %>
