<div class="footer">

  <div class="footer-text">Les artisans du store</div>
  <div class="footer-text">19 rue des martinets , 69610 L'Arbresle</div>
  <div class="footer-text">04 74 01 10 11</div>

</div>
