.banner {
  height: 80vh;
  width: 100%;
  background-size: cover !important;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  &-content {
    min-width: 50%;
    max-width: 60%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-text {
    font-size: 19px;
    font-family: "Circular-Book";
    font-weight: 100;
    color: rgba(0,0,0,0.5);
    letter-spacing: -1px;
  }
}

.banner-text-bold {
  font-size: 19px;
  font-family: "Circular-Black";
  font-weight: 100;
  color: rgba(0,0,0,0.8);
  letter-spacing: -1px;
}
