.product-card {
  height: 250px;
  width: 100%;
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 70px;
}



.product-card-left {
  height: 100%;
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.product-card-right {
  height: 100%;
  flex: 7;
  background-size: cover !important;
  background-position: center center;
}

.product-card-left-item {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.product-card-left-item-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #FF6A51;
  transition: 0.5s ease;
  opacity: 0.8;
}

.product-card-left-item-button:hover {
  background-color: #FF6A51;
  opacity: 1;
}

.item-title {
  font-family: "Circular-Medium";
  font-size: 16px;
  opacity: 0.9;
  border-bottom: 1px solid #F6F6F6;
  padding-left: 20px;
}

.item-description {
  font-family: "Circular-Book";
  font-size: 14px;
  opacity: 0.7;
  padding-left: 20px;
}

.item-link {
  font-family: "Circular-Book";
  font-size: 14px;
  text-decoration: none;
  color: white;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.item-link a {
  font-family: "Circular-Book";
  font-size: 14px;
  text-decoration: none;
  color: white;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card-left-item-button:hover a {
  color: white;
}

.item-description-head {
  font-family: "Circular-Book";
  font-size: 12px;
  opacity: 0.5;
  padding-left: 20px;
}

.item-type-name {
  font-family: "Circular-Medium";
  font-size: 13px;
  opacity: 0.4;
}







.card {
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center center;
  color: white;
  position: relative;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 10px;
  text-shadow: none;
  font-family: "Circular-Book";
  font-size: 12px;
  font-weight: 200;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: rgba(255,255,255,0.2);
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 30px;
}
.card-description h2 {
  text-shadow: none;
  font-family: "Circular-Medium";
  font-size: 20px;
}
.card-description p {
  font-size: 14px;
  text-shadow: none;
  font-family: "Circular-Book";
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.modif-button {
  text-shadow: none;
  font-family: "Circular-Book";
  font-size: 12px;
  font-weight: 200;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: rgba(255,25,25,0.6);
  color: white;
  text-decoration: none;
  border-radius: 3px;
  transition: 0.5s ease;
}

.modif-button:hover {
  background-color: rgba(255,25,25,0.8);
  color: white;
  text-decoration: none !important;
  transition: 0.5s ease;
}

a:hover {
  text-decoration: none;
}






.product-card-left-item-button-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #F4576D;
  transition: 0.5s ease;
  opacity: 0.9;
}

.product-card-left-item-button-edit:hover {
  background-color: #F4576D;
  opacity: 1;
}


.product-card-left-item-button-edit:hover a {
  color: white;
}

.item-link-edit a {
  font-family: "Circular-Book";
  font-size: 13px;
  text-decoration: none;
  color: white;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-link-edit {
  font-family: "Circular-Book";
  font-size: 14px;
  opacity: 0.8;
  text-decoration: none;
  color: white;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}











.product-card-left-item-button-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #FF7533;
  transition: 0.5s ease;
  opacity: 0.8;
}

.product-card-left-item-button-info:hover {
  background-color: #FF7533;
  opacity: 1;
}


.product-card-left-item-button-info:hover a {
  color: white;
}

.item-link-info a {
  font-family: "Circular-Book";
  font-size: 13px;
  text-decoration: none;
  color: white;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-link-info {
  font-family: "Circular-Book";
  font-size: 14px;
  opacity: 0.8;
  text-decoration: none;
  color: white;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}


.item-brand {
  position: absolute;
  top: 7px;
  right: 50px;
  width: 20px;
}

.item-brand img {
  width: 50px;
}


.item-brand-show {
  position: absolute;
  top: 12px;
  right: 20px;
  font-family: "Circular-Book";
  font-size: 13px;
  opacity: 0.8;
  color: #FF7533;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.item-brand-show img {
  width: 80px;
}



// .product-card-dashboard {
//   display: flex;
//   justify-content: left;
//   align-items: center;
//   width: 100%;
//   height: 50px;
//   position: relative;
// }


.product-card-left-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
}


.dash-item {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 50px;
}

